<form name="editTime" class="form-inline form-horizontal" role="form">
    <div class="row">
        <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" ng-model="currentUser" ng-change="getTimes()" required>
                        <option value="0">Pick a user...</option>
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                    </select>
                    <button class="close btn btn-default" ng-click="reset()" style="float:none;">&times;</button>
                </div>
        </div>
    </div>
<div class="row" ng-show="currentUser">
    <div class="col-md-6">
        <div class="form-group">
            <input placeholder="Enter Date" datepicker-popup="shortDate" class="form-control" ng-required="true" ng-model="selectedDate" /> {{ selectedDate | amDateFormat:'dddd, MMMM Do YYYY'}}
            <!--<input ui-date  class="form-control" type="date" required ng-model="selectedDate" ng-change="getTimes()" />-->
        </div>
    </div>
</div>
</form>

<div class="row" ng-show="currentUser"> 
    
        
        <div class="col-md-3">
        <label class="control-label" for="time1">In: </label>
            <timepicker id="time1" hour-step="1" ng-required="true" ng-change="changedTime()" minute-step="1" ng-model="$parent.startTime"></timepicker>
        </div>
            


        
        <div class="col-md-3">
        <label class="control-label" for="time2">Out:</label>
            <timepicker id="time2" ng-required="true" ng-change="changedTime()" ng-model="$parent.endTime"></timepicker>
        </div>

</div>
           <!-- <input type="time" required placeholder="In" class="form-control" ng-model="startTime"  />
            <input type="time" required placeholder="Out" class="form-control" ng-model="endTime" /> -->
            <!--<span>{{ startTime | date:'shortTime' }} / {{ endTime | date:'shortTime' }}</span>-->
<div class="row">
    <button ng-show="currentUser && startTime && endTime && selectedDate" ng-disabled="editTime.$invalid" class="btn" ng-click="addRow()">Add</button>
</div>



<div ng-show="currentUser">
    <h2>Pay Period Details</h2>
    <h3>{{startDate | date:'longDate'}} to {{endDate | date:'longDate'}}</h3>
    <p class="lead">{{currentTimes.payperiodTotal | number:2}} total hours</p>
    <table class="table table-striped" width="400">
        <thead>
            <tr>
                <th width="20%">Date</th>
                <th width="20%">In</th>
                <th width="20%">Out</th>
                <th width="20%">Total</th>
                <th width="20%"></th>
            </tr>
        </thead>
    </table>
    <table class="table table-striped" width="400">
        <thead>
            <tr>
                <th colspan="4" width="80%">Week Total</th>
                <th width="20%">{{currentTimes.secondWeekTotal | number:2}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="currentTime in currentTimes.secondWeek">
                <td width="20%">{{currentTime.clockInDate}}</td>
                <td width="20%">{{currentTime.clockInTime}}</td>
                <td width="20%">{{currentTime.clockOutTime}}</td>
                <td width="20%">{{currentTime.totalTime | number:2}}</td>
                <td width="20%"><button class="btn btn-link" ng-click="removeRow(currentTime.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped" width="400">
        <thead>
            <tr>
                <th colspan="4" width="80%">Week Total</th>
                <th width="20%">{{currentTimes.firstWeekTotal | number:2}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="currentTime in currentTimes.firstWeek">
                <td width="20%">{{currentTime.clockInDate}}</td>
                <td width="20%">{{currentTime.clockInTime}}</td>
                <td width="20%">{{currentTime.clockOutTime}}</td>
                <td width="20%">{{currentTime.totalTime | number:2}}</td>
                <td width="20%"><button class="btn btn-link" ng-click="removeRow(currentTime.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>