<form class="form" role="form" ua-signup ua-error="error-msg">
    <div class="form-group">
        <input class="form-control" name="first_name" placeholder="Your name">
    </div>
    <div class="form-group">
        <input class="form-control"name="login" ua-is-email placeholder="Email"><br>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password"><br>
    </div>
    <button type="submit">Create account</button>
    <p id="error-msg"></p>
</form>